.container
  .comment.clearfix
    .content
      %p.comment_content
        = comment.comment
      .comment_author
        %p Submitted by
        %p.author_name= comment.user.try(:name)
    .buttons
      = link_to "Edit", edit_post_comment_path(comment.post,comment), :class => "button btn btn-default"
      = link_to "Delete", [comment.post,comment], method: :delete, data: {confirm: "Are you sure?"}, :class => "button btn btn-default"
  %hr/
