.post_wrapper
- @posts.each do |post|
  .container
    = link_to (image_tag post.image.url(:medium)), post
    %h2.title= link_to post.title, post
    %p.date= post.created_at.strftime("%B %d, %Y")
    %hr/
