.container.prewiev_post
  = image_tag @post.image.url(:medium)
  %h1
    = @post.title
  %p
    = @post.body
  #comments
    %h2
      = @post.comments.count
      Comments
    = render @post.comments
    %h3 Reply to thread
    = render "comments/form"
  %br
  %hr
  %br

  = link_to  "Edit",edit_post_path(@post), :class => "button btn btn-default"

  = link_to  "Delete",post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?" },:class => "button btn btn-default"
