
.container-fluid
{
	background: #404040;
}


#page_wrapper,
.prewiev_post,
.sing_up,
.post_wrapper
{
	margin-top: 70px;
}

.content{
	margin-bottom: 20px;
}
a{
	text-decoration: none;
}
.comment_author{
  display: flex;
}
.author_name{
  margin-left: 5px;
}
