<%# add navigation links to this file %>
<%if user_signed_in? %>
  <li>
    <%= link_to  "New post", new_post_path%>
  </li>
  <li>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </li>
<%else%>
  <li>
    <%= link_to  "Sign Up", new_user_registration_path %>
  </li>
  <li>
      <%= link_to  "Sign In", new_user_session_path %>
  </li>
<%end%>
<li>
    <%= link_to 'Home', root_path %>
</li>
<li>
    <%= link_to 'About', page_path('about') %>
</li>
<li>
    <%= link_to 'Sample Post', page_path('post') %>
</li>
<li>
    <%= link_to 'Contact', page_path('contact') %>
</li>
